<ion-view>
    <ion-content>
        <div class="profile-module">
            <form ng-submit="confirmDogPhoto()">
                <div class="overflow-hidden">
                    <div class="profile-img-upload" ng-if="!userProfileCtrl.user.profilePicUrl" ng-style="{'background-image': 'url({{userProfileCtrl.user.profilePicUrl}})'}"">
                    <div class="mod-black-mask">
                        <p class="mt-45" style="color: #fff; font-weight: 600;">Upload <i class="ion-ios-camera"></i></p>
                    </div>
                </div>
                <div class="profile-img-upload" ng-if="$parent.dog.profileImgUrl" ng-style="{'background-image': 'url({{$parent.dog.profileImgUrl}})'}" >
                </div>
        </div>
        </form>

        </div>
        <div class="profile-cta-container">
            <div class="button-bar">
                <button class="button button-icon" ng-click="userProfileCtrl.captureImage()">
                    <i class="cta-icon ion-ios-camera"></i>
                </button>
                <button class="button button-icon" ng-click="userProfileCtrl.selectImage()">
                    <i class="cta-icon ion-image"></i>
                </button>
                <button ng-disabled="!userProfileCtrl.profilePicAdded" class="button button-icon icon" ng-click="userProfileCtrl.startUpload()">
                    <i class="cta-icon ion-upload"></i>
                </button>
            </div>
        </div>
        <section class="profile-form">

            <div class="list">
                <div class="form-input">
                    <span><strong>FIRST NAME</strong></span>
                    <input name="first_name" type="text" ng-model="profileController.user.email">
                </div>
                <hr class="profile-hr text-align-left">

                <div class="form-input">
                    <span><strong>LAST NAME</strong></span>
                    <input name="lastname" type="email" ng-model="profileController.user.email">
                </div>
                <hr class="profile-hr">

                <div class="form-input">
                    <span><strong>EMAIL</strong></span>
                    <input name="user_email" type="email" ng-model="profileController.user.email">
                </div>
                <hr class="login-hr">

                <div class="form-input">
                    <span><strong>PASSWORD</strong></span>
                    <input name = user_password" type="password" ng-model="profileController.user.password">
                </div>
                <hr class="login-hr">
            </div>
            <div class="login-button-container mt-20">
                <button class="button button-block button-royal">
                    SAVE
                </button>
            </div>


        </section>
    </ion-content>
    <ion-footer-bar class="bar bar-royal">
        <div class="button-bar">
            <button class="button button-clear" ui-sref="main">
                <i class="icon icon ion-location"></i>
            </button>
            <button class="button button-clear" ui-sref="profile" ui-sref-active="active">
                <i class="icon ion-person"></i>
            </button>
            <button class="button button-clear" ui-sref="payment" ng-disabled="true">
                <i class="icon ion-card"></i>
            </button>
            <button class="button button-clear" ng-click="profileController.logIn()">
                <i ng-class="venuesController.isUserLoggedIn ?  'icon ion-log-out' : 'icon ion-log-in'"></i>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>