<ion-view>
    <ion-content>
        <div class="profile-module">

            <div class="overflow-hidden">
                <div class="profile-img" ng-style= "{'background-image': 'url(' + registerController.userProfile.profilePicUrl + ')'}">
                </div>
            </div>
        </div>
        <div class="profile-cta-container">
            <div class="button-bar">
                <button class="button button-icon" ng-click="registerController.captureImage()">
                    <i class="cta-icon-camera ion-ios-camera"></i>
                </button>
                <button class="button button-icon" ng-click="registerController.selectImage()">
                    <i class="cta-icon ion-image"></i>
                </button>
            </div>
        </div>
        <section class="register-form">

            <div class="list">
                <div class="form-input">
                    <input name="first_name" placeholder="Your First name" type="text" ng-model="registerController.user.firstName">
                </div>
                <div class="form-input">
                    <input name="lastname" placeholder="Your Last name" type="text" ng-model="registerController.user.lastName">
                </div>
                <div class="form-input">
                    <input name="user_email" placeholder="email@company.com" type="email" ng-model="registerController.user.email">
                </div>
                <div class="form-input">
                    <input name = user_password" placeholder="password" type="password" ng-model="registerController.user.password">
                </div>
                <div class="profile-id">
                    <div class="form-input">
                        <div class="age-message-header">May we see some ID please?</div>
                        <div class="age-message-sub">You look young for your age!<br>Please verify that you are 21, it's the law.</div>
                    </div>
                    <div class="form-input">
                        <div class="row">
                            <label class="dob">D.O.B</label>
                            <div id="dob-month">
                                <select class="minimal"name="month" id="month" ng-model="registerController.month" ng-options="m.name for m in registerController.months | validMonths:year" ng-change="registerController.updateDate('month')" required>
                                    <option value='' disabled>Month</option>
                                </select>
                            </div>
                            <div id="dob-year">
                                <select class="minimal" name="year" id="year" ng-model="registerController.year" ng-options="y for y in registerController.years" ng-change="registerController.updateDate('year')" required>
                                    <option value='' disabled>Year</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-input">
                        <div class="gender-profile">
                            <label>Gender</label>
                            <ul>
                                <li>
                                    <input type="radio" class="gender-radio" id="profile-male" ng-model="colorValue" value="male">
                                    <label class="radio-label" for="profile-male">Male</label>
                                </li>
                                <li>
                                    <input type="radio" class="gender-radio" id="profile-female" ng-model="colorValue" value="female">
                                    <label class="radio-label" for="profile-female">Female </label>
                                </li>
                                <li>

                                </li>
                            </ul>
                           <div class="id-photo-mod">
                               <button class="button button-clear icon id-icon-camera ion-ios-camera">
                               </button>
                               <label>Take a photo of your id (optional)</label>
                           </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-input">
                <div class="terms-message-header">We keep your information private!</div>
                <div class="terms-message-sub">Please review our terms and policies.</div>
            </div>
            <div class="form-input">
                <div class="terms-module">
                    <input type="checkbox" class="terms-checkbox" id="terms" ng-model="terms" ng-click="registerController.displayTerms()">
                    <label class="terms-label" for="terms">Accept terms.</label>
                </div>

            </div>
            <div class="login-button-container mt-20">
                <button class="button button-block button-royal"
                        ng-disabled="
                        registerController.user.email.length===0 ||
                        registerController.user.password.length===0  ||
                        registerController.userProfile.firstName.length===0 ||
                        registerController.userProfile.lasttName.length===0 ||
                        registerController.userProfile.sex.length===0 ||
                        registerController.userProfile.dateOfBirth.length===0 ||
                        registerController.userProfile.profilePicUrl.length===0 ||
                        !registerController.userProfile.terms"
                        ng-click="registerController.createAcount()">
                    CREATE ACCOUNT
                </button>
            </div>


        </section>
    </ion-content>
    <ion-footer-bar class="bar bar-royal">
        <div class="button-bar">
            <button class="button button-clear" ui-sref="main">
                <i class="icon icon ion-location"></i>
            </button>
            <button class="button button-clear" ui-sref="payment" ng-disabled="true">
                <i class="icon ion-card"></i>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>