<ion-view>
    <ion-content>
        <div class="profile-module">

                <div class="overflow-hidden">
                    <div class="profile-img" ng-style= "{'background-image': 'url(' + profileController.profilePic + ')'}">
                    </div>
                </div>
        </div>

        <div class="profile-cta-container">
            <div class="button-bar">
                <button class="button button-icon" ng-click="profileController.captureImage()">
                    <i class="cta-icon-camera ion-ios-camera"></i>
                </button>
                <button class="button button-icon" ng-click="profileController.selectImage()">
                    <i class="cta-icon ion-image"></i>
                </button>
            </div>
        </div>
        <section class="profile">
                <div class="profile-edit-bar">
                    <button ng-class="profileController.editActive ? 'button button-clear button-royal' : 'button button-clear button-stabel'"  ng-click="profileController.edit()">
                        <i class="icon ion-edit"></i>
                    </button>
                </div>
                <div class="list">
                    <div class="profile-form">
                        <span><strong>FIRST NAME</strong></span>
                        <input name="first_name" class="profile-input" type="text" ng-model="profileController.user.firstName" ng-disabled="!profileController.editActive">
                    </div>

                    <div class="profile-form">
                        <span><strong>LAST NAME</strong></span>
                        <input name="lastname" class="profile-input" type="email" ng-model="profileController.user.lastName" ng-disabled="!profileController.editActive">
                    </div>

                    <div class="profile-form">
                        <span><strong>EMAIL</strong></span>
                        <input name="user_email" class="profile-input" type="email" ng-model="profileController.user.email" ng-disabled="!profileController.editActive">
                    </div>
                </div>
                <div class="login-button-container mt-20">
                    <button class="button button-block button-royal" ng-disabled="!profileController.editActive">
                        SAVE
                    </button>
                </div>


        </section>
    </ion-content>
    <ion-footer-bar class="bar bar-royal">
        <div class="button-bar">
            <button class="button button-clear" ng-click="profileController.goBack()">
                <i class="icon icon ion-location"></i>
            </button>
            <button class="button button-clear" ui-sref="profile" ui-sref-active="active">
                <i class="icon ion-person"></i>
            </button>
            <button class="button button-clear" ui-sref="payment" ng-disabled="true">
                <i class="icon ion-card"></i>
            </button>
            <button class="button button-clear" ng-click="profileController.logIn()">
                <i ng-class="profileController.isUserLoggedIn ?  'icon ion-log-out' : 'icon ion-log-in'"></i>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>