<div class="modal">
    <ion-header-bar class="bar-royal">
        <h1 class="title">Terms & Privacy Policy</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <h1>Terms</h1>
        <p>Lorem ipsum dolor sit amet, te vidisse imperdiet vis, nam omnis disputando in, no mea mutat partem epicurei. Cu dolore volumus qui, id ius intellegat deterruisset, meis soluta percipit id sed. Quidam graeco nusquam vel in, mei utroque propriae ei. Nam dico falli debitis no, verterem iracundia ius ex.
        </p>
        <p>
            An sint movet eos, et vel elitr euismod fabulas, an ipsum postulant argumentum nam. Has dolor percipitur id, et nonumy sanctus deterruisset mea, graecis scribentur comprehensam vel cu. Te usu tamquam equidem nominavi. Te vel cotidieque consectetuer, utamur ullamcorper id vis. Quo ex dolore partiendo consulatu, cu latine efficiantur eam.
        </p>
        <p>
            Sed quis impedit adversarium te. Tota sonet mentitum ad vim. Te qui tation denique, in duo munere scripta. Error suscipit mei ad, nostro aliquando ad mea. In cum habeo malorum, cu vix elaboraret conclusionemque.
        </p>
        <p>
            Nonumes accusam eu his. Erat diceret eum te. Dicta fabulas hendrerit in cum, cu mea natum commune, vix nullam detracto reprehendunt in. Illud equidem ei quo. An mel nihil omnium meliore, cum solum liber admodum te. Id quis soluta dolorum pri, vel et audire volutpat conceptam.
        </p>
        <p>
            Dicta munere erroribus vim at, dico ceteros comprehensam cu his. Ne volumus definiebas mediocritatem nam. Facete insolens pro at, cu mei justo dolorem vivendo. Inimicus sapientem an vis, eum eu option meliore phaedrum. Tale nostro duo te. Prodesset consetetur ullamcorper ex vel. At pro admodum abhorreant.
        </p>
        <p>
            Sit malis insolens deseruisse no, doming veritus reformidans ne vim. Sapientem explicari imperdiet mea eu, an quod consequat his. Vide rebum iriure eum in, per at vero tacimates, qui purto eros clita eu. Quo no cibo persecuti. In adhuc deserunt erroribus nam.
        </p>
        <p>
            Has iusto molestiae at, noster facilis nostrum est cu. Graeco iuvaret an qui. Et quo equidem officiis prodesset, no nemore volutpat scribentur eam. Et diceret eloquentiam mea, wisi habeo dictas ad sea.
        </p>
        <p>
            Mundi habemus pri at. Pri an admodum consequuntur, aliquid corrumpit ex nec. Gubergren voluptatibus cum et. Commune delicatissimi in mea, mea ex quaeque fabulas.
        </p>
        <p>
            Quo id modo alia aliquid, ius ex illum nulla detraxit, ei lorem putent cum. Et dicam laoreet nam, eos cu persius reprimique interpretaris, nibh detracto adipiscing mel ne. Pro ne tota imperdiet. Diceret graecis ut pri.
        </p>
        <p>
            Mazim equidem vis ea. At vim audire recusabo. Ei eum placerat dignissim, legere eligendi mea no. Case tantas sadipscing sea et, vivendum argumentum nec an. Ex usu congue iudico. Id eirmod patrioque theophrastus vim, his numquam atomorum abhorreant ex. Dolore veritus abhorreant at vis.
        </p>
    </ion-content>
    <ion-footer-bar class="bar bar-dark">
        <div class="button-bar">
            <button class="button button-royal" ng-click="termsCtrl.agree()">Got It!</button>
        </div>
    </ion-footer-bar>

</div>