<div class="modal">
    <ion-header-bar class="bar-royal">
        <h1 class="title">Cancel Order</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <ion-list>
            <ion-radio ng-repeat=" item in cancelOrderModalController.reasons" ng-model="cancelOrderModalController.selected" ng-value="item.value">{{item.reason}}</ion-radio>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar bar-royal">
        <div class="button-bar">
            <button class="button button-outline button-light" ng-click="closeModal(0)">CANCEL</button>
            <button class="button button-royal" ng-disabled="!cancelOrderModalController.selected" ng-click="cancelOrderModalController.send()">SEND</button>
        </div>
    </ion-footer-bar>

</div>