<ion-view>
    <ion-content>
    </ion-content>
    <ion-footer-bar class="bar bar-royal">
        <div class="button-bar">
            <button class="button button-clear" ng-click="staffController.goBack()">
                <i class="icon ion-home"></i>
            </button>
            <button class="button button-clear" ui-sref="profile" ui-sref-active="active">
                <i class="icon ion-person"></i>
            </button>
            <button class="button button-clear" ng-click="staffController.logIn()">
                <i ng-class="profileController.isUserLoggedIn ?  'icon ion-log-out' : 'icon ion-log-in'"></i>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>