// Colors

$light:                           #fff !default;
$stable:                          #cccccc !default;
$positive:                        #000033 !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #330000 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #282f3c !default;
$dark:                            #000000 !default;

// Base
$base-background-color:           #fff !default;
$base-color:                      $royal !default;
$link-color:                      $positive !default;
$link-hover-color:                darken($link-color, 15%) !default;
$content-padding: 10px !default;

// Bars
$bar-height:                      44px !default;
$bar-title-font-size:             17px !default;
$bar-padding-portrait:            5px !default;
$bar-padding-landscape:           5px !default;
$bar-transparency:                1 !default;

$bar-footer-height:               $bar-height !default;
$bar-subheader-height:            $bar-height !default;
$bar-subfooter-height:            $bar-height !default;

// Cards
$card-header-bg:                  #F5F5F5 !default;
$card-body-bg:                    #fff !default;
$card-footer-bg:                  #F5F5F5 !default;

// Modals
$modal-bg-color:                  #fff !default;
$modal-backdrop-bg-active:        #000 !default;

// Popovers
$popover-bg-color:                $light !default;


// Popups

// Loading
$loading-text-color:              #fff !default;
$loading-bg-color:                rgba(0,0,0,0.7) !default;

// Spinners
$spinner-width:                   28px !default;
$spinner-height:                  28px !default;

// Platform
$ios-statusbar-height:           20px !default;

//Item

$item-font-size:                  16px !default;
$item-border-width:               1px !default;
$item-padding:                    16px !default

$item-divider-bg:                 #f5f5f5 !default;
$item-divider-color:              #222 !default;
$item-divider-padding:            5px 15px !default;

$item-avatar-width:               40px !default;
$item-avatar-height:              40px !default;
$item-avatar-border-radius:       50% !default;